* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Changa', sans-serif;
}

header {
    padding: 40px;
    color: rgb(92, 92, 92); 
    font-family: 'Changa';
    position: absolute;
    width: 100%;
    z-index: 5;
}

header h3 {
    padding-top: 20px;
    font-weight: normal;
}

aside {
    background-color: #4e6172a9;
    padding: 20px;
    width: 15%;
    z-index: 10;
    position: fixed;
    right: 0;
    height: 100vw;
}

.profile-pic {
    border-radius: 10px;
    width: 100%;
    height: 30%;
}

nav {
    padding-top: 50px;
}

nav ul li {
    list-style: none;
    padding-bottom: 30px;
}

nav ul li button {
    list-style-type: none;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Changa';
}


nav ul li button:hover {
    color: #36454f; 
}

li a {
    color: whitesmoke;
    text-decoration: none;
}

nav ul li .res-link:hover {
    color: #36454f;
}

.res-link:visited {
    text-decoration: none;
    color: whitesmoke;
}

.nav-btn {
    background-color: inherit;
    border: none;
    outline: none;
}

.hero {
    background-image: url("../resources/images/zack-valleyoffire.JPG");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: fixed;
}

main {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    margin-bottom: 400px;
}

section {
    padding: 50px 200px 200px 100px;
    color: whitesmoke;
    height: calc(100% - 200px);
    width: 85%;
    margin-top: 200px;
    background-color: #4e6172a9;
}

section h2 {
    text-decoration: underline;
    width: 100%;
}

footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-color: #36454f;
    z-index: 15;
    padding-top: 20px;
    text-align: center;
}

footer a i {
    color: whitesmoke;
    text-decoration: none;
    font-size: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.contact-me {
    padding-bottom: 500px;
}

#contact-me ul li {
    display: block;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

#contact-me li a {
    color: whitesmoke;
    text-decoration: none;
}

#contact-me li a:hover {
    color: #36454f;
}

#projects {
    height:fit-content;
}

/* .key-projects {
    border: 2px solid black;
} */

/* working on project containers to display more info */
.project-container {
    width: 100%;
    position: relative;
    /* padding-right: 75px; */
    align-content: center;
    height: 300px;
    margin-bottom: 75px;
}

.project-container img {
   border-radius: 10px !important;
   width: 500px;
   height: 80%;
}

.project-container a {
    color: white;
    padding-right: 20px;
}

.project-container a:hover {
    color: #36454f;
}
.projects img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.mobile {
    display: none;
}

.mobile-img {
    display: none;
}

.mobile-hero {
    display: none;
}



@media only screen and (max-width: 830px) {
    aside {
        height:100vh;
        width: 30%;
    }

    section {
        width: 70%;
    }

    #about-me {
        padding: 20px;
    }

    .project-container img {
        width: 325px;
        height: 60%; 
    }
} 



@media only screen and (max-width: 420px) {
    body {
        width:100%;
        /* background-color: #4e6172a6 */
    }
    header {
        position: relative;
        width: 100%;
        padding: 0;
        color:whitesmoke;
    }

    header h1 {
        font-size: 20px;
        padding: 20px;
        padding-bottom: 0;
    }

    header h3 {
        width: 100%;
        font-size: 16px;
        padding-left: 20px;
    }

    aside {
        display: none;
    }

    .hero {
        display: none;
    }

    .mobile-hero {
        display: block;
        background: url("../resources/images/railroad_tracks.jpg");
        height: 100vh;
        width: 100%;
        background-size: cover;
        position: fixed;
    }

    main {
        position: relative;
        height: fit-content;
    }

    section {
        border: 2px solid black;
        width: 100%;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #about-me {
        border: 2px solid black;
        width: 100%;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .mobile {
        display: block;
    }

    nav {
        padding: 5px;
        padding-left: 40px;
    }

    nav ul li {
        display: inline;
        list-style: none;
    }
    
    nav ul li button {
        padding: 10px;
        list-style-type: none;
        font-size: 14px;
        color: whitesmoke;
        text-decoration: none;
        background-color: inherit;
        border: none;
    }

    nav ul li button:active {
        color: whitesmoke;
    }

    nav ul li button:hover {
        color: whitesmoke;
    }

    nav ul li button:visited {
        text-decoration: none;
        color: whitesmoke;
    }

    .nav-btn-mobile {
        border: none;
        outline: none;
    }

    .project-container {
        padding-bottom: 0px;
        margin-bottom: 10px;
        height: 275px;
    }

    .project-container img {
        border-radius: 10px;
        width: 280px;
        height: 50%;
        padding-left: auto;
        padding-right: auto;
     }

    .mobile-img {
        margin-top: 20px;
        display: block;
        width: 70%;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        color: whitesmoke
    }

    #contact-me ul li {
        padding-bottom: 20px;
        font-size: 16px;
        list-style-type: none;
    }

    .res-span a {
        color: whitesmoke;
    }

    .res-span res-link-mobile:visited {
        color:whitesmoke;
    }

}